@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,8..900;1,100..900&display=swap');

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --primary-color: #000;
    --secondary-color: #08F;
    --modal-background: light-dark(#fff, #000);
}

body {
    @apply text-[100%] bg-[#FFFAFA] select-none mx-auto my-[2%];
    font-family: "Raleway", serif;

}

#hangman {
    @apply text-base mx-auto drop-shadow-2xl border-gray-300 border max-w-2xl bg-gray-200;
    color: var(--primary-color);
    font-family: "Raleway", serif;
}

h1 {
    @apply text-[1.2rem] font-light text-center;
}

canvas {
    @apply mx-auto my-[5%] border-b-4 border-b-[#607D8B] border-solid;
}

.testWord {
    @apply text-center text-[2.4rem] text-[#4CAF50] mt-[5%] mb-[10%] mx-auto;
    font-family: monospace;
}

.keyboard, .buttons {
    @apply text-center mx-auto my-0;
    font-family: "Raleway", serif;
}

.keyboard button, button.startNew, button.toggleLocale {
    @apply p-3 my-6 mx-auto border rounded-md cursor-pointer transition-all ease-in-out duration-200;
}

button.startNew, button.toggleLocale {
    @apply w-52 bg-gray-300 mr-3;
}

.keyboard button {
    @apply w-12 h-12 uppercase text-2xl font-extrabold bg-gray-300 p-2 mr-1;
}

.keyboard button:hover {
    @apply bg-black text-white;
}

.keyboard button.used,
.keyboard button.used:hover {
    @apply bg-gray-600 text-gray-500;
}

.gameOver,
.youWon {
    @apply absolute w-[300px] border text-center bg-[#eee] shadow-[0_1px_2px_0_rgba(0,0,0,0.1),0_4px_8px_0_rgba(0,0,0,0.2)] cursor-pointer mx-auto my-0 px-0 py-5 border-solid border-[#bbb] top-[20%];
}

.gameOver h2,
h3,
.youWon h3 {
    @apply font-light;
}
